
.loader {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: beat 1s infinite;
  }
  
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    height: 80px;
    border-radius: 5em 5em 0 0;
    animation: coldblue 1s infinite;
  }
  
  .loader:before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .loader:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  @keyframes beat {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes coldblue {
    0%, 100% {
      background-color: rgb(255, 255, 255);
    }
  
    50% {
      background-color: rgb(198, 23, 23);
    }
  }