.yesbtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.yesbtn:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.yesbtn:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.nobtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nobtn:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.nobtn:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.curved-image {
  border-radius: 43%;
}

.themecontainer {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background: linear-gradient(
      45deg,
      #0000 calc(25% / 3),
      #ffffff 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #ffffff 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
      45deg,
      #ffffff calc(25% / 3),
      #0000 0 calc(50% / 3),
      #ffffff 0 25%,
      #0000 0 75%,
      #ffffff 0 calc(250% / 3),
      #0000 0 calc(275% / 3),
      #ffffff 0
    ),
    linear-gradient(
      -45deg,
      #0000 calc(25% / 3),
      #ffffff 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #ffffff 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
        -45deg,
        #ffffff calc(25% / 3),
        #0000 0 calc(50% / 3),
        #ffffff 0 25%,
        #0000 0 75%,
        #ffffff 0 calc(250% / 3),
        #0000 0 calc(275% / 3),
        #ffffff 0
      )
      #c77979;
  background-size: 106px 106px;
  background-position: 0 0, 53px 53px;
}
